* {
  box-sizing: border-box; }

.tall {
  height: 21.25rem; }

.medium {
  height: 10rem; }

.short {
  height: 2.8rem; }

.full {
  height: 100%; }

.huge {
  height: 26.25rem; }

.bookmark_cont {
  position: relative; }
  .bookmark_cont .bookmark_hidden {
    width: 100%;
    position: relative; }
    .bookmark_cont .bookmark_hidden .bookmark_curtain {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 22rem; }
      .bookmark_cont .bookmark_hidden .bookmark_curtain .loader {
        border-width: 0.5rem;
        width: 75px;
        height: 75px; }
  .bookmark_cont .bookmark_edit_title {
    margin: 0.5rem 0 0;
    font-size: 0.9rem;
    line-height: 1.4rem; }
  .bookmark_cont .bookmark_tool_title {
    margin: unset;
    font-size: 0.8rem;
    line-height: 1rem; }
  .bookmark_cont .stgs_config_cont {
    padding: unset; }
  .bookmark_cont .bookmark_ctrls {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .bookmark_cont .bookmark_ctrls label {
      width: 60%;
      padding-left: 0.5rem;
      max-height: 2rem;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-bottom: 0.25rem; }
    .bookmark_cont .bookmark_ctrls .bookmark_btn_cont {
      width: 35%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center; }
      .bookmark_cont .bookmark_ctrls .bookmark_btn_cont button {
        margin: 0.2rem;
        padding: unset; }
  .bookmark_cont .bookmark_list {
    height: 14rem; }
    .bookmark_cont .bookmark_list .bookmark_item {
      display: flex;
      flex-flow: column;
      border: thin solid #ccc;
      padding: unset !important; }
      .bookmark_cont .bookmark_list .bookmark_item .bookmark_item_upper {
        display: flex;
        justify-content: space-around;
        height: 2.2rem;
        align-items: center;
        padding: 0 0.25rem; }
        .bookmark_cont .bookmark_list .bookmark_item .bookmark_item_upper label {
          color: #17315a;
          margin: unset;
          width: 60%;
          text-align: left; }
      .bookmark_cont .bookmark_list .bookmark_item .bookmark_edit_ctrls {
        display: flex;
        align-items: center; }
        .bookmark_cont .bookmark_list .bookmark_item .bookmark_edit_ctrls .bookmark_btn {
          padding: unset;
          min-width: 1.3rem !important;
          min-height: 1rem !important;
          margin: 0 .25rem; }
        .bookmark_cont .bookmark_list .bookmark_item .bookmark_edit_ctrls .bookmark_btn.nope {
          cursor: not-allowed; }
      .bookmark_cont .bookmark_list .bookmark_item hr {
        margin: 0.5rem 0 !important; }
      .bookmark_cont .bookmark_list .bookmark_item .bookmark_item_lower {
        display: flex;
        justify-content: flex-end;
        height: 2.2rem;
        align-items: center;
        padding: 0 0.25rem;
        margin: 0 0.5rem 0.5rem;
        border: thin solid #ccc;
        border-radius: 0.25rem;
        background: #ddd; }
        .bookmark_cont .bookmark_list .bookmark_item .bookmark_item_lower .bookmark_edit_ctrls .bookmark_btn {
          padding: unset;
          margin: 0 .25rem; }
  .bookmark_cont .bookmark_list, .bookmark_cont .bookmark_form {
    border: 1px solid #ddd;
    margin: 0.5rem 0 0.25rem;
    overflow-y: auto; }
  .bookmark_cont .bookmark_note {
    height: 5.5rem;
    padding: 0.5rem;
    border: thin solid #ddd;
    font-size: 0.75rem;
    line-height: 1.1rem; }
  .bookmark_cont .bookmark_form {
    padding: 0.5rem; }
    .bookmark_cont .bookmark_form input {
      width: 100%;
      height: 2.2rem;
      maring-bottom: 0.45rem; }
    .bookmark_cont .bookmark_form label {
      margin-bottom: 0.25rem; }
    .bookmark_cont .bookmark_form textarea {
      width: 100%;
      height: 5.3rem;
      margin-bottom: 0.45rem; }
    .bookmark_cont .bookmark_form .bookmark_ctrls2 {
      display: flex;
      justify-content: center; }
      .bookmark_cont .bookmark_form .bookmark_ctrls2 button {
        padding: unset; }

.bookmark_stgs_content_box {
  border: 1px solid #ddd;
  padding: 0.5rem 0.5rem 0.75rem; }
  .bookmark_stgs_content_box .active {
    background-color: #17315a;
    color: white; }
  .bookmark_stgs_content_box label {
    width: 100%; }
  .bookmark_stgs_content_box label.shared {
    width: 60%; }
  .bookmark_stgs_content_box .measure_btns {
    width: 100%;
    margin: 15px auto 0.25rem; }

.bookmark_stgs_mobility_info {
  display: flex;
  flex-flow: wrap;
  display: flex;
  flex-flow: wrap; }
  .bookmark_stgs_mobility_info .bookmark_switch_cont {
    width: 95%; }
    .bookmark_stgs_mobility_info .bookmark_switch_cont .bM_switch_label {
      width: unset;
      margin-right: 7%; }
    .bookmark_stgs_mobility_info .bookmark_switch_cont .fs_slider {
      min-width: 54px; }
  .bookmark_stgs_mobility_info button {
    flex: 1;
    border: 1px solid blue;
    padding: 3px 0px !important;
    margin-right: 2px;
    border-radius: 0; }
  .bookmark_stgs_mobility_info button.last {
    border-radius: 0 0.25rem 0.25rem 0;
    margin-right: unset; }
  .bookmark_stgs_mobility_info button.first {
    border-radius: 0.25rem 0 0 0.25rem; }
  .bookmark_stgs_mobility_info button.justify.active {
    /*background-color: #17315a6b;*/ }
    .bookmark_stgs_mobility_info button.justify.active .material-icons {
      color: #fff !important; }

.bkmk_hr {
  margin: unset; }

.bkmrks.fyinfo.open {
  display: block !important;
  height: 20rem;
  padding: .5rem 1rem;
  overflow-y: scroll; }

.sticky-top, .sticky_top {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background: #fff; }

.sticky-bot, .sticky_bot {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  background: #fff; }

/*# sourceMappingURL=bookmark.css.map */
