face {
    font-family: Airstream;
    src: url("../fonts/Airstream.ttf");
    /*src: url("/Joomla/core/fonts/AlexBrush-Regular.ttf");*/
  }

  @font-face {
    font-family: alexBrush;
    src: url("../fonts/AlexBrush-Regular.ttf");
  }

  @font-face {
    font-family: Anagram;
    src: url("../fonts/Anagram.ttf");
  }

  @font-face {
    font-family: Burnstown-Dam;
    src: url("../fonts/burnstown_dam.otf");
  }

  @font-face {
    font-family: codystar;
    src: url("../fonts/codystar-regular.ttf");
  }

  @font-face {
    font-family: Comic-Zine;
    src: url("../fonts/comic_zine_ot.otf");
  }

  @font-face {
    font-family: Distant-Galaxy;
    src: url("../fonts/DISTGRG_.ttf");
  }

  @font-face {
    font-family: Dobkin;
    src: url("../fonts/DobkinPlain.ttf");
  }

  @font-face {
    font-family: FancyPants;
    src: url("../fonts/FancyPants.ttf");
  }

  @font-face {
    font-family: FontleroyBrown;
    src: url("../fonts/FontleroyBrown.ttf");
  }

  @font-face {
    font-family: 42ndStreet;
    src: url("../fonts/FORTSSH_.ttf");
  }

  @font-face {
    font-family: Headhunter;
    src: url("../fonts/Headhunter-Regular.ttf");
  }

  @font-face {
    font-family: Heavy-Data;
    src: url("../fonts/heavy_data.ttf");
  }

  @font-face {
    font-family: homemade-apple;
    src: url("../fonts/HomemadeApple.ttf");
  }

  @font-face {
    font-family: limelight;
    src: url("../fonts/Limelight.ttf");
  }

  @font-face {
    font-family: Lobster;
    src: url("../fonts/Lobster_1.3.otf");
  }

  @font-face {
    font-family: lovers-quarrel;
    src: url("../fonts/LoversQuarrel-Regular.otf");
  }

  @font-face {
    font-family: membra;
    src: url("../fonts/membra.ttf");
  }

  @font-face {
    font-family: Miama;
    src: url("../fonts/Miama.otf");
  }

  @font-face {
    font-family: Minotaur;
    src: url("../fonts/minotaur.ttf");
  }

  @font-face {
    font-family: Mutlu;
    src: url("../fonts/Mutlu__Ornamental.ttf");
  }

  @font-face {
    font-family: oleo-script;
    src: url("../fonts/OleoScript-Regular.ttf");
  }

  @font-face {
    font-family: Plexifont;
    src: url("../fonts/plexifont.ttf");
  }

  @font-face {
    font-family: schoolbell;
    src: url("../fonts/Schoolbell.ttf");
  }

  @font-face {
    font-family: SeasideResort;
    src: url("../fonts/SEASRN__.ttf");
  }

  @font-face {
    font-family: Wasabi;
    src: url("../fonts/SF_Wasabi.ttf");
  }

  @font-face {
    font-family: Tangerine;
    src: url("../fonts/Tangerine_Regular.ttf");
  }
