<!-- SLIDESHOW TEMPLATE -->
<div class="blogMod_blog_module "  data-view="{{take1.view}}"
  ng-if="take1.initiated && take1.motiv != 'settings' && take1.hnic()" ng-init="take1.tool = take1.service.tool"
  data-empty="{{take1.empty_loader()}}"
  data-prep="{{take1._.prep_stars(take1.my_stars,take1.initiated,take1.mode)}}" ><!-- style="{{take1.getStyle()}}" {{take1.getClass()}} -->

  <div class="blogMod_main layer {{take1.getClass('main')}} " style="{{take1.tool.views[take1.view].main.style}}"
  ng-class="{strict:take1.tool.views[take1.view].height_style}" data-option="main" >

    <div id="blogMod_item_{{take1.iUN}}_{{action.id}}" data-option="content"
    ng-repeat="action in take1.my_stars" ng-if="take1.initiated"
    class="blogMod_item layer pure-h {{take1.getClass('content')}}" data-test="{{take1.me_seeks(action)}}"
    style="{{take1.getMainHeight()}}{{take1.tool.views[take1.view].content.style}}">


    <div class="blogMod_slide_mod img blogMod_slide_main imagelayer {{take1.getClass('imagelayer')}}"
    style="{{take1.tool.views[take1.view].imagelayer.style}} " data-option="imagelayer" >

      <div id="blogMod_item_{{take1.iUN}}_{{action.id}}" data-option="imagebox"
      class="blogMod_item pure-h imagebox {{take1.getClass('imagebox')}}" style="{{take1.tool.views[take1.view].imagebox.style}}">

        <div class="blogMod_img_cont {{take1.getClass('image')}}" data-option="image"
        ng-click="take1.test_link('title',take1.getParam(action).text.link)"
        ng-class="{canvas_wrapper:take1.tool.views[take1.view].image.force_landscape == true,linkable:take1.tool.views[take1.view].image.linkable == true}"
        style="{{take1.tool.views[take1.view].image.style}}{{take1.getTextStyle(take1.tool.views[take1.view].image,'image')}}"
        ng-show="take1.tool.views[take1.view].image.active_image === true" >

          <div id="blogMod_img_{{take1.iUN}}_{{action.id}}" class="blogMod_img canvas_cont"
          ng-bind="take1.insertCanvas(action,$last,'blogMod_img_{{take1.iUN}}_{{action.id}}')">
          </div>
        </div>

      </div>
    </div><!-- imagelayer -->

      <div class="blogMod_slide_mod blogMod_slide_mod_{{take1.iUN}}_{{action.id}}
      txt texblogMod_slide_modtlayer blogMod_slide_main {{take1.getClass('textlayer')}}"
      ng-if=" take1.tool.views[take1.view].textlayer.active_layer"
      style="{{take1.tool.views[take1.view].textlayer.style}}" data-option="textlayer"
      ng-class="{linkable:take1.tool.views[take1.view].textlayer.linkable == true}"
      data-hover="{{take1.setElementHover('blogMod_slide_mod_' + take1.iUN +'_'+ action.id,'textlayer','textbox')}}"
      ng-click="take1.test_link('textlayer',take1.getParam(action).text.link)" ><!--/*take1.active_content(action) &&*/ -->

        <div id="blogMod_item_{{take1.iUN}}_{{action.id}}" data-option="textbox"
        class="blogMod_item pure-h textbox {{take1.getClass('textbox')}}" style="{{take1.tool.views[take1.view].textbox.style}}">

          <div id="{{take1.getAnchor(take1.getParam(action).text.link,'blogMod_head_html')}}" data-option="title"
          class="{{take1._.classMkr({name:'blogMod_head_html',iUN:take1.iUN,id:action.id,ndx:$index})}} {{take1.getClass('title')}}"
          ng-if="take1.tool.views[take1.view].title.active_title === true && take1.tool.views[take1.view].title.custom_text == false"
          ng-click="take1.test_link('title',take1.getParam(action).text.link)"
          ng-class="{linkable:take1.tool.views[take1.view].title.linkable == true}"
          style="{{take1.tool.views[take1.view].title.style}} {{take1.getTextStyle(take1.tool.views[take1.view].title,'title')}}">
            {{take1.getParam(action).text.head.text}}
          </div>

          <div id="{{take1.getAnchor(take1.getParam(action).text.link,'blogMod_head_html')}}" data-option="title"
          class="{{take1._.classMkr({name:'blogMod_head_html',iUN:take1.iUN,id:action.id,ndx:$index})}} {{take1.getClass('title')}}"
          ng-if="take1.tool.views[take1.view].title.active_title === true && take1.getParam(action).text.head.html != '' && take1.tool.views[take1.view].title.custom_text == true"
          ng-class="{master:take1.tool.views[take1.view].title.font_controls == true,linkable:take1.tool.views[take1.view].title.linkable == true}"
          ng-click="take1.test_link('title',take1.getParam(action).text.link)"
          ng-bind-html="take1.service.THTML(take1.getParam(action).text.head.html)"
          style="{{take1.tool.views[take1.view].title.style}} {{take1.getTextStyle(take1.tool.views[take1.view].title,'title')}}"></div>

          <div class="{{take1._.classMkr({name:'blogMod_body_html',iUN:take1.iUN,id:action.id,ndx:$index})}} flex {{take1.getClass('body')}} " data-option="body"
          ng-if="take1.tool.views[take1.view].body.active_body === true && take1.tool.views[take1.view].body.custom_text == false"
          style="{{take1.tool.views[take1.view].body.style}} {{take1.getTextStyle(take1.tool.views[take1.view].body,'body')}}">
            {{take1.getParam(action).text.body.raw}}
          </div>

          <div class="{{take1._.classMkr({name:'blogMod_body_html',iUN:take1.iUN,id:action.id,ndx:$index})}} {{take1.getClass('body')}} "
          ng-class="{master:take1.tool.views[take1.view].body.font_controls == true}" data-option="body"
          ng-bind-html="take1.service.THTML(take1.getParam(action).text.body.html)"
          ng-if="take1.tool.views[take1.view].body.active_body === true && take1.getParam(action).text.body.html != '' && take1.tool.views[take1.view].body.custom_text == true"
          style="{{take1.tool.views[take1.view].body.style}} {{take1.getTextStyle(take1.tool.views[take1.view].body,'body')}}"></div>

          <div class="read_more_cont" style="justify-content:{{take1.tool.views[take1.view].link.justify}};
          {{take1.getTextStyle(take1.tool.views[take1.view].link,'link-outer')}} /*i need this because it doesn't know the height*/"
          ng-if="take1.tool.views[take1.view].link.active_link === true" >
            <a class="read_more_{{take1.iUN}}_{{action.id}} linkable bM_read_more read_more {{take1.getClass('link')}} button" data-option="link"
            style="{{take1.tool.views[take1.view].link.style}} {{take1.getTextStyle(take1.tool.views[take1.view].link,'link')}}"
            ng-click="take1.test_link('link',take1.getParam(action).text.link,true)" data-hover="{{take1.setLinkHover(action.id,'link')}}"
            ng-if="take1.tool.views[take1.view].link.active_link === true && take1.getParam(action).text.link.alias != '' && take1.getParam(action).text.link.url != ''" >
              {{take1.getParam(action).text.link.alias}}
            </a>
          </div>
          <div class="nada" style="dislay:none;"  data-empty="{{take1.after($last)}}" ng-bind="take1.getBound()"></div>
        </div><!--end repeat div-->


      </div><!-- blogMod_slide_mod -->
    </div><!--end repeat div blogMod_item-->
  </div>

</div>
