.tall {
  height: 21.25rem; }

.medium {
  height: 10rem; }

.short {
  height: 2.8rem; }

.full {
  height: 100%; }

.huge {
  height: 26.25rem; }

.showTime_manual_slideshow.flexMode {
  height: fit-content !important;
  height: -moz-min-content;
  height: -webkit-min-content;
  height: min-content;
  width: 100% !important; }
  .showTime_manual_slideshow.flexMode .showTime_img_cont {
    position: relative;
    width: 100% !important;
    height: auto !important; }
    .showTime_manual_slideshow.flexMode .showTime_img_cont .showTime_img_wrap {
      justify-content: center;
      width: 100% !important;
      height: auto !important; }
      .showTime_manual_slideshow.flexMode .showTime_img_cont .showTime_img_wrap .showTime_img {
        display: table-cell !important;
        width: 100% !important;
        height: auto !important; }
        .showTime_manual_slideshow.flexMode .showTime_img_cont .showTime_img_wrap .showTime_img .canvas_area {
          width: unset !important;
          height: unset !important;
          display: unset !important; }
          .showTime_manual_slideshow.flexMode .showTime_img_cont .showTime_img_wrap .showTime_img .canvas_area .ImgCanvas {
            width: 100% !important;
            height: 100% !important;
            /*auto*/ }

.manual-slideshow {
  display: flex;
  justify-content: center;
  margin: 0 auto; }
  .manual-slideshow .showTime_manual_slideshow {
    display: flex;
    justify-content: center;
    max-width: unset; }
    .manual-slideshow .showTime_manual_slideshow button {
      padding: unset !important;
      border: none;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      outline: 0;
      padding: 8px 16px;
      vertical-align: middle;
      overflow: hidden;
      text-decoration: none;
      color: inherit;
      background-color: inherit;
      text-align: center;
      cursor: pointer;
      white-space: nowrap; }
    .manual-slideshow .showTime_manual_slideshow button.w3-button:hover {
      background-color: unset !important; }
  .manual-slideshow .mSS_stgs {
    flex: 1; }
    .manual-slideshow .mSS_stgs .mSS_stgs_ctrls_cont {
      display: flex;
      flex-flow: row nowrap; }
      .manual-slideshow .mSS_stgs .mSS_stgs_ctrls_cont .mSS_stgs_ctrls {
        flex: 1;
        border: 1px solid blue;
        padding: 1px !important; }
      .manual-slideshow .mSS_stgs .mSS_stgs_ctrls_cont .mSS_stgs_ctrls.first {
        margin-right: 2px; }
    .manual-slideshow .mSS_stgs .mSS_stgs_sect_cont {
      max-height: 20rem;
      overflow-y: auto;
      margin-top: 10px;
      border: 1px solid #ddd; }
    .manual-slideshow .mSS_stgs .active {
      background-color: #17315a;
      color: white; }
    .manual-slideshow .mSS_stgs .mSS_stgs_advanced {
      position: relative; }
      .manual-slideshow .mSS_stgs .mSS_stgs_advanced .mSS_stgs_option_back {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: unset; }
      .manual-slideshow .mSS_stgs .mSS_stgs_advanced label.heading {
        margin: 3px 10px; }
      .manual-slideshow .mSS_stgs .mSS_stgs_advanced .option_section {
        display: flex;
        flex-flow: column nowrap;
        margin-top: 5px;
        min-height: 80px; }
        .manual-slideshow .mSS_stgs .mSS_stgs_advanced .option_section .adv_option_btn:first-child {
          border: 1px solid #ccc; }
        .manual-slideshow .mSS_stgs .mSS_stgs_advanced .option_section .adv_option_btn {
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          align-items: center;
          flex: 1;
          padding: 2px 5px;
          border: 1px solid #ccc;
          height: 30px;
          text-align: left !important;
          border-top: unset; }
          .manual-slideshow .mSS_stgs .mSS_stgs_advanced .option_section .adv_option_btn p {
            width: 70%;
            margin: unset; }
          .manual-slideshow .mSS_stgs .mSS_stgs_advanced .option_section .adv_option_btn .list_icon {
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center; }
  .manual-slideshow .mSS_stgs_sect {
    display: flex;
    flex-flow: column;
    width: 100%; }

.mSS_stgs_label {
  text-shadow: 2px 2px 2px #ccc; }

.mSS_stgs_content_box {
  border: 1px solid #ddd;
  padding: 10px 10px 15px; }
  .mSS_stgs_content_box label {
    width: 100%; }

.mSS_stgs_current_info {
  display: flex;
  flex-flow: wrap row; }
  .mSS_stgs_current_info div {
    flex: 1; }

.mSS_stgs_custom_info {
  display: flex;
  flex-flow: wrap; }
  .mSS_stgs_custom_info .mSS_stgs_size_wrapr div {
    width: 30%;
    display: inline-block; }
  .mSS_stgs_custom_info .mSS_stgs_size_wrapr .mSS_stgs_custom_input {
    width: 40% !important;
    display: inline-block;
    padding: 10px;
    margin: 0px 0 10px  2%;
    vertical-align: top; }

.mSS_stgs_mobility_info {
  display: flex;
  flex-flow: wrap; }
  .mSS_stgs_mobility_info button {
    flex: 1;
    border: 1px solid blue;
    padding: 3px 0px !important;
    margin-right: 2px;
    border-radius: 0; }
  .mSS_stgs_mobility_info button.last {
    border-radius: 0 5px 5px 0;
    margin-right: unset; }
  .mSS_stgs_mobility_info button.first {
    border-radius: 5px 0 0 5px; }
  .mSS_stgs_mobility_info button.justify.active {
    /*background-color: #17315a6b;*/ }
    .mSS_stgs_mobility_info button.justify.active .material-icons {
      color: #fff !important; }

.mSS_stgs_bg_info {
  display: flex;
  flex-flow: row wrap; }
  .mSS_stgs_bg_info input {
    flex: 1;
    padding: 0 10px !important;
    width: 100%; }

.mSS_stgs_class_info {
  display: flex;
  flex-flow: row wrap; }
  .mSS_stgs_class_info input {
    flex: 1;
    width: 100%;
    padding: 10px; }

.mSS_stgs_reset_btn {
  width: 90%;
  margin: 10px auto;
  border: 1px solid blue;
  padding: unset !important; }

/*# sourceMappingURL=manual_slideshow.css.map */
