.tall {
  height: 21.25rem; }

.medium {
  height: 10rem; }

.short {
  height: 2.8rem; }

.full {
  height: 100%; }

.huge {
  height: 26.25rem; }

div.canvas_wrapper {
  width: 100% !important;
  height: 100% !important;
  /*margin:.5rem auto;*/ }
  div.canvas_wrapper .canvas_cont {
    display: table-cell !important;
    width: unset !important; }
    div.canvas_wrapper .canvas_cont .blogMod.canvas_area {
      margin: 0 auto;
      width: unset !important;
      height: unset !important;
      display: unset !important; }
      div.canvas_wrapper .canvas_cont .blogMod.canvas_area .blogMod.ImgCanvas {
        width: 100% !important;
        height: auto !important; }

.blog-module {
  display: flex;
  justify-content: center;
  margin: 0 auto; }
  .blog-module .showTime_blog_module {
    max-width: unset;
    /*flexbox clashes with w3CSS? breaks the display*/
    /*blogMod_main*/ }
    .blog-module .showTime_blog_module .blogMod_main {
      display: flex;
      justify-content: center;
      max-width: unset;
      flex-flow: row wrap; }
      .blog-module .showTime_blog_module .blogMod_main .blogMod_item {
        width: 30% !important;
        height: 100% !important;
        background-color: #fff;
        border: 1px solid #ccc;
        margin: 0.25rem;
        padding: 10px; }
      .blog-module .showTime_blog_module .blogMod_main .blogMod_head_html p {
        margin: 0px; }
      .blog-module .showTime_blog_module .blogMod_main .blogMod_body_html p {
        margin: 0px; }
      .blog-module .showTime_blog_module .blogMod_main button {
        padding: unset !important;
        border: none;
        display: inline-block;
        outline: 0;
        padding: 8px 16px;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        background-color: inherit;
        text-align: center;
        cursor: pointer;
        white-space: nowrap; }
      .blog-module .showTime_blog_module .blogMod_main button.w3-button:hover {
        background-color: unset !important; }
  .blog-module .bM_stgs {
    flex: 1; }
    .blog-module .bM_stgs .bM_stgs_ctrls_cont {
      display: flex;
      flex-flow: row nowrap; }
      .blog-module .bM_stgs .bM_stgs_ctrls_cont .bM_stgs_ctrls {
        flex: 1;
        border: 1px solid blue;
        padding: 1px !important; }
      .blog-module .bM_stgs .bM_stgs_ctrls_cont .bM_stgs_ctrls.first {
        margin-right: 2px; }
    .blog-module .bM_stgs .bM_stgs_sect_cont {
      max-height: 20rem;
      overflow-y: auto;
      margin-top: 10px;
      border: 1px solid #ddd; }
    .blog-module .bM_stgs .active {
      background-color: #17315a;
      color: white; }
    .blog-module .bM_stgs .bM_stgs_advanced {
      position: relative; }
      .blog-module .bM_stgs .bM_stgs_advanced .bM_stgs_option_back {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: unset; }
      .blog-module .bM_stgs .bM_stgs_advanced label.heading {
        margin: 3px 10px; }
      .blog-module .bM_stgs .bM_stgs_advanced .option_section {
        display: flex;
        flex-flow: column nowrap;
        margin-top: 5px;
        min-height: 80px; }
        .blog-module .bM_stgs .bM_stgs_advanced .option_section .adv_option_btn:first-child {
          border: 1px solid #ccc; }
        .blog-module .bM_stgs .bM_stgs_advanced .option_section .adv_option_btn {
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          align-items: center;
          flex: 1;
          padding: 2px 5px;
          border: 1px solid #ccc;
          height: 30px;
          text-align: left !important;
          border-top: unset; }
          .blog-module .bM_stgs .bM_stgs_advanced .option_section .adv_option_btn p {
            width: 70%;
            margin: unset; }
          .blog-module .bM_stgs .bM_stgs_advanced .option_section .adv_option_btn .list_icon {
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center; }
  .blog-module .bM_stgs_sect {
    display: flex;
    flex-flow: column;
    width: 100%; }

.bM_stgs_label {
  text-shadow: 2px 2px 2px #ccc; }

.bM_stgs_content_box {
  border: 1px solid #ddd;
  padding: 10px 10px 15px; }
  .bM_stgs_content_box label {
    width: 100%; }

.bM_stgs_current_info {
  display: flex;
  flex-flow: wrap row; }
  .bM_stgs_current_info div {
    flex: 1; }

.bM_stgs_custom_info {
  display: flex;
  flex-flow: wrap; }
  .bM_stgs_custom_info .bM_stgs_size_wrapr div {
    width: 30%;
    display: inline-block; }
  .bM_stgs_custom_info .bM_stgs_size_wrapr .bM_stgs_custom_input {
    width: 40% !important;
    display: inline-block;
    padding: 10px;
    margin: 0px 0 10px  2%;
    vertical-align: top; }

.bM_stgs_mobility_info, .bM_stgs_button_info {
  display: flex;
  flex-flow: wrap; }
  .bM_stgs_mobility_info button, .bM_stgs_button_info button {
    flex: 1;
    border: 1px solid blue;
    padding: 1px !important;
    border-radius: 0 5px 5px 0; }
  .bM_stgs_mobility_info button.first, .bM_stgs_button_info button.first {
    border-radius: 5px 0 0 5px;
    margin-right: 2px; }

.bM_stgs_bg_info {
  display: flex;
  flex-flow: row wrap; }
  .bM_stgs_bg_info input {
    flex: 1;
    padding: 0 10px !important;
    width: 100%; }

.bM_stgs_class_info {
  display: flex;
  flex-flow: row wrap; }
  .bM_stgs_class_info input {
    flex: 1;
    width: 100%;
    padding: 10px; }

.bM_stgs_reset_btn {
  width: 90%;
  margin: 10px auto;
  border: 1px solid blue;
  padding: unset !important; }

/*# sourceMappingURL=blog_module.css.map */
