<!-- SLIDESHOW TEMPLATE -->
<div class="showTime_blog_module  w3-content w3-display-container"
  ng-if="take1.motiv != 'settings' && take1.hnic()" ng-init="take1.tool = take1.service.tool" data-crust="{{take1.me_seeks()}}"
  data-prep="{{take1._.prep_stars(take1.my_stars,take1.initiated,take1.mode)}}" ><!-- style="{{take1.getStyle()}}" {{take1.getClass()}} -->
  <div class="blogMod_main {{take1.getClass('main')}} " style="{{take1.tool.details.main.style}}">

    <slick class="bM_slider bM_slider_{{take1.iUN}}" ng-if="take1.dataLoaded"
    init-onload="false" data="take1.dataLoaded" slides-to-show="3" dots="true"
    init="take1.f_resize()" settings="take1.slickConfig"
    fade="{{take1.slick_fade('active')}}" speed="{{take1.slick_fade('speed')}}" >

    <div id="blogMod_item_{{take1.iUN}}_{{action.id}}"
    ng-repeat="action in take1.my_stars" data-test="{{take1.me_seeks(action)}}"
    ng-if="take1.initiated"
    class="{{take1._.classMkr({name:'blogMod_item',iUN:take1.iUN,id:action.id,ndx:$index})}} pure-h {{take1.getClass('content')}}"
    style="{{take1.getStyle()}}{{take1.tool.details.content.style}}">
      <div class="blogMod_img_cont {{take1.getClass('image')}} canvas_wrapper"
      style="{{take1.tool.details.image.style}}"
      ng-show="take1.tool.details.image.active_image === true" >
        <div id="blogMod_img_{{take1.iUN}}_{{action.id}}" class="blogMod_img canvas_cont"
        ng-bind="take1.insertCanvas(action,$last,'blogMod_img_{{take1.iUN}}_{{action.id}}')">
        </div>
      </div>

      <div class="{{take1._.classMkr({name:'blogMod_head_html',iUN:take1.iUN,id:action.id,ndx:$index})}} {{take1.getClass('title')}}"
      ng-if="take1.tool.details.title.active_title === true && take1.tool.details.title.custom_text == false"
      style="{{take1.tool.details.title.style}} {{take1.getTextStyle(take1.tool.details.title,'title')}}">
        {{take1.getParam(action).text.head.text}}
      </div>

      <div class="{{take1._.classMkr({name:'blogMod_head_html',iUN:take1.iUN,id:action.id,ndx:$index})}} {{take1.getClass('title')}}"
      ng-bind-html="take1.service.THTML(take1.getParam(action).text.head.html)"
      ng-if="take1.tool.details.title.active_title === true && take1.getParam(action).text.head.html != '' && take1.tool.details.title.custom_text == true"
      style="{{take1.tool.details.title.style}} {{take1.getTextStyle(take1.tool.details.title,'title')}}"></div>

      <div class="{{take1._.classMkr({name:'blogMod_body_html',iUN:take1.iUN,id:action.id,ndx:$index})}} {{take1.getClass('body')}} "
      ng-if="take1.tool.details.body.active_body === true && take1.tool.details.body.custom_text == false"
      style="{{take1.tool.details.body.style}} {{take1.getTextStyle(take1.tool.details.body,'body')}}">
        {{take1.getParam(action).text.body.raw}}
      </div>

      <div class="{{take1._.classMkr({name:'blogMod_body_html',iUN:take1.iUN,id:action.id,ndx:$index})}} {{take1.getClass('body')}} "
      ng-bind-html="take1.service.THTML(take1.getParam(action).text.body.html)"
      ng-if="take1.tool.details.body.active_body === true && take1.getParam(action).text.body.html != '' && take1.tool.details.body.custom_text == true"
      style="{{take1.tool.details.body.style}} {{take1.getTextStyle(take1.tool.details.body,'body')}}"></div>

      <div class="read_more_cont" style="justify-content:{{take1.tool.details.link.justify}};
      {{take1.getTextStyle(take1.tool.details.link,'link-outer')}} /*i need this because it doesn't know the height*/"
      ng-if="take1.tool.details.link.active_link === true" >
        <a class="read_more_{{take1.iUN}}_{{action.id}} bM_read_more read_more {{take1.getClass('link')}} button"
        style="{{take1.tool.details.link.style}} {{take1.getTextStyle(take1.tool.details.link,'link')}}"
        href="{{take1.getParam(action).text.link.url}}" data-hover="{{take1.setLinkHover(action.id,'link')}}"
        ng-if="take1.tool.details.link.active_link === true && take1.getParam(action).text.link.alias != '' && take1.getParam(action).text.link.url != ''" >
          {{take1.getParam(action).text.link.alias}}
        </a>
      </div>
    </div><!--end repeat div-->
    </slick>
  </div>
</div>
