<!-- SLIDESHOW TEMPLATE -->
<div class="showTime_blog_module  w3-content w3-display-container"
  ng-if="take1.initiated && take1.motiv != 'settings' && take1.hnic()" data-empty="{{take1.empty_loader()}}"
   ng-init="take1.tool = take1.service.tool;" data-view="{{take1.view}}"
  data-prep="{{take1._.prep_stars(take1.my_stars,take1.initiated,take1.mode)}}" ><!-- style="{{take1.getStyle()}}" {{take1.getClass()}} -->
  <div class="blogMod_main {{take1.getClass('main')}} " style="{{take1.tool.views[take1.view].main.style}}"
  ng-class="{strict:take1.tool.views[take1.view].height_style}" data-option="main" >

    <div id="blogMod_item_{{take1.iUN}}_{{action.id}}" data-option="content"
    ng-repeat-start="action in take1.my_stars" ng-if="take1.initiated" data-test="{{take1.me_seeks(action)}}"
    class="blogMod_item pure-h {{take1.getClass('content')}}" style="{{take1.getMainHeight()}}{{take1.tool.views[take1.view].content.style}}">

      <div id="blogMod_imgbx_{{take1.iUN}}_{{action.id}}" data-option="imagebox"
      class="blogMod_imgbx pure-h imagebox {{take1.getClass('imagebox')}}"
      ng-hide="take1.tool.views[take1.view].imagebox.active_imagebox === false"
      style="{{take1.tool.views[take1.view].imagebox.style}}">

        <div id="{{take1.getAnchor(take1.getParam(action).text.link,'blogMod_img_cont')}}"
        class="blogMod_img_cont {{take1.getClass('image')}}" data-option="image"
        ng-click="take1.test_link('image',take1.getParam(action).text.link)"
        ng-class="{canvas_wrapper:take1.tool.views[take1.view].image.force_landscape == true, linkable:take1.tool.views[take1.view].image.linkable == true}"
        style="{{take1.tool.views[take1.view].image.style}}{{take1.getTextStyle(take1.tool.views[take1.view].image,'image')}}"
        ng-show="take1.tool.views[take1.view].image.active_image === true" >

          <div id="blogMod_img_{{take1.iUN}}_{{action.id}}" class="blogMod_img canvas_cont"
          ng-bind="take1.insertCanvas(action,$last,'blogMod_img_{{take1.iUN}}_{{action.id}}')">
          </div>

        </div>
      </div><!--end imgbx-->

        <div id="blogMod_txtbx_{{take1.iUN}}_{{action.id}}" data-option="textbox"
        class="blogMod_txtbx pure-h textbox {{take1.getClass('textbox')}}"
        ng-hide="take1.tool.views[take1.view].textbox.active_textbox === false"
        style="{{take1.tool.views[take1.view].textbox.style}}">

          <div class="{{take1._.classMkr({name:'blogMod_head_html',iUN:take1.iUN,id:action.id,ndx:$index})}} {{take1.getClass('title')}}"
          ng-if="take1.tool.views[take1.view].title.active_title === true && take1.tool.views[take1.view].title.custom_text == false"
          ng-click="take1.test_link('title',take1.getParam(action).text.link)" data-option="title"
          ng-class="{linkable:take1.tool.views[take1.view].title.linkable == true}"
          style="{{take1.tool.views[take1.view].title.style}} {{take1.getTextStyle(take1.tool.views[take1.view].title,'title')}}">
            {{take1.getParam(action).text.head.text}}
          </div>

          <div class="{{take1._.classMkr({name:'blogMod_head_html',iUN:take1.iUN,id:action.id,ndx:$index})}} {{take1.getClass('title')}}"
          ng-bind-html="take1.service.THTML(take1.getParam(action).text.head.html)"
          ng-click="take1.test_link('title',take1.getParam(action).text.link)" data-option="title"
          ng-class="{master:take1.tool.views[take1.view].title.font_controls == true,linkable:take1.tool.views[take1.view].image.linkable == true}"
          ng-if="take1.tool.views[take1.view].title.active_title === true && take1.getParam(action).text.head.html != '' && take1.tool.views[take1.view].title.custom_text == true"
          style="{{take1.tool.views[take1.view].title.style}} {{take1.getTextStyle(take1.tool.views[take1.view].title,'title')}}"></div>

          <div class="{{take1._.classMkr({name:'blogMod_body_html',iUN:take1.iUN,id:action.id,ndx:$index})}} {{take1.getClass('body')}} " data-option="body"
          ng-if="take1.tool.views[take1.view].body.active_body === true && take1.tool.views[take1.view].body.custom_text == false"
          style="{{take1.tool.views[take1.view].body.style}} {{take1.getTextStyle(take1.tool.views[take1.view].body,'body')}}">
            {{take1._.prep_text(take1.getParam(action).text,take1.tool.views[take1.view].body.short_text)}}
          </div>

          <div class="{{take1._.classMkr({name:'blogMod_body_html',iUN:take1.iUN,id:action.id,ndx:$index})}} {{take1.getClass('body')}} "
          ng-class="{master:take1.tool.views[take1.view].body.font_controls == true}"
          ng-bind-html="take1.service.THTML(take1.getParam(action).text.body.html)" data-option="body"
          ng-if="take1.tool.views[take1.view].body.active_body === true && take1.getParam(action).text.body.html != '' && take1.tool.views[take1.view].body.custom_text == true"
          style="{{take1.tool.views[take1.view].body.style}} {{take1.getTextStyle(take1.tool.views[take1.view].body,'body')}}"></div>

          <div class="read_more_cont" style="justify-content:{{take1.tool.views[take1.view].link.justify}};
          {{take1.getTextStyle(take1.tool.views[take1.view].link,'link-outer')}} /*i need this because it doesn't know the height*/"
          ng-if="take1.tool.views[take1.view].link.active_link === true" >
            <a class="read_more_{{take1.iUN}} read_more_{{take1.iUN}}_{{action.id}} bM_read_more read_more {{take1.getClass('link')}} button"
            style="{{take1.tool.views[take1.view].link.style}} {{take1.getTextStyle(take1.tool.views[take1.view].link,'link')}}"
            ng-click="take1.test_link('link',take1.getParam(action).text.link,true)" data-hover="{{take1.setLinkHover(action.id,'link')}}" data-option="link"
            ng-if="take1.tool.views[take1.view].link.active_link === true && take1.getParam(action).text.link.alias != '' && take1.getParam(action).text.link.url != ''" >
              {{take1.getParam(action).text.link.alias}}
            </a>
          </div>
        </div><!--end txtbx-->
    </div><!--end repeat div-->

    <!--
    <div ng-repeat-end ng-if="$last"  class="nada" style="dislay:none;" iun="take1.iUN" toolname="blogMod"
     repeat-done="take1.after($last)" callout="take1.empty_loader" lastly="$last"></div>
    -->

     <div ng-repeat-end ng-if="$last"  class="nada" style="dislay:none;" iun="take1.iUN" toolname="blogMod"
      data-done="{{take1.after($last)}}" lastly="$last"></div>

  </div>
</div>
